<div id="LogInModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">EV Comment Service 로그인</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form accept-charset="utf-8" action="javascript:void(0);" onsubmit="() => {return false;}">
          <div class="form-group">
            <label for="ID">ID</label>
            <input id="ID" name="ID" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="PW">PW</label>
            <input id="PW" name="PW" type="password" class="form-control" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary" onclick="login()">로그인</button>
          </div>
      </div>
    </div>
  </div>
</div>