<div id="ReportConfirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h4 id="ReportCommentContent" class="text-center" style="font-size: 15px; margin-bottom: 20px;">
        </h4>
        <div class="text-center" style="width: 70%; margin: 0 auto">
          <a class="btn btn-sm btn-danger btn-yes btn-block" style="color:#ffffff;" data-dismiss="modal"
            onclick="reportComment()">네</a>
          <a class="btn btn-sm btn-success btn-no btn-block" style="color:#ffffff;" data-dismiss="modal">아니오</a>
        </div>
      </div>
    </div>
  </div>
</div>