<div id="UserInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="smallModal" class="container" style="text-align: center;">
        <p id="Modal_USER_ID" class="lead"><%=connectedUserID%></p><br>
        <img id="userDefaultProfile" class="img-fluid rounded-circle" src="" alt="Image For User Profile">
      </div>
    </div>
  </div>
</div>