<div class="alert alert-success">
  <p style="text-align: center; font-size: 14px; color: #4c4c4c; margin: 0px auto;">This blog is not registered with the service.<br>
    Visit evcommentservice.ga and register your blog</p>
</div>