<div class="alert alert-success">
  <p style="text-align: center; font-size: 14px; color: #4c4c4c; margin: 0px auto;">All values are not set.<br>
    Visit evcommentservice.ga and check the usage of the service</p>
</div>